<!-- templates/dashboard/script.html -->
<script>
    function showContent(content) {
      document.getElementById('main-content').innerHTML = '<h1>' + content + '</h1>';
      // Remove the 'selected' class from all sidebar items
      var items = document.getElementsByClassName('sidebar-item');
      for (var i = 0; i < items.length; i++) {
        items[i].classList.remove('sidebar-item-selected');
      }
      // Add the 'selected' class to the clicked item
      event.currentTarget.classList.add('sidebar-item-selected');
    }
</script>
